body.auth-page {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-auth {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-auth .form-auth-heading {
  margin-bottom: 10px;
}

.form-auth .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-auth .form-control:focus {
  z-index: 2;
}

.form-auth input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-auth input.last-input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-success, .bg-danger {
  padding: 15px;
}
#quickFightZone {
  background-image: url(ZoneDeCombat.png);
  background-size: 100% 100%;
}

.quickFightButton {
  width: 100%;
  height: 50px;
  margin-top: 149px;
  margin-bottom: 83px;
}
.message {
  width: 80%;
}

.send {
  width: 19%;
}

.imgChatBox {
  width: 100%;
}
.imgUserOnline {
  width: 100%;
}
#allMessages {
  height: 214px;
  display: block;
  overflow-y: auto;
  overflow : scroll;
}

#allUsers {
  height: 260px;
  display: block;
  overflow-y: auto;
  overflow : scroll;
}


