<div ng-controller="GameController" ng-init="startGame()">
    <div class="row">
        <div id="controlZone" class="col-md-3 media">
            <img src="images/controlZone.png" class="img-rounded media-object" alt="controlZone">
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 media">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="progress">
                                <div class="progress-bar progress-bar-default" id="user1-lifebar" role="progress-bar" aria-value-min="0" aria-value-max="100" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <span id="timer" class="h2">00:00</span>
                        </div>
                        <div class="col-md-5">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" id="user2-lifebar" role="progress-bar" aria-value-min="0" aria-value-max="100" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <canvas id="fightArea"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>