<div ng-controller="GameController" ng-init="startGame()">
    <div class="row">
        <div id="controlZone" class="col-md-3 media">
            <img src="images/controlZone.png" class="img-rounded media-object" alt="controlZone">
        </div>

        <div id="timeZone"class="col-md-9">
            <div class="row">
                <div class="col-md-12 media">
                    <img src="images/timerZone.png" class="img-rounded media-object" alt="controlZone">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <canvas id="fightArea"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>