<div class="row">
  <div id="quickFightZone" class="col-md-4">

    <button class= "quickFightButton" type="button" ><a href="/#!/fight/1"> Quick Fight </a> </button>

  </div>
    <div id="chatBox"class="col-md-4">
    <img src="css/chatbox.png" class="imgChatBox" alt="Ban chatbox" />

      <ul id="allMessages" class="list-group">
        <li class="list-group-item ">Message Numéro 1</li>
      </ul>

      <form >
        <input class="message" type="text" size="10" />
        <button class="send" type="submit" value="Send">Send</button>
      </form>
    </div>
  <div id="userOnline" class="col-md-4">
    <img src="css/useronline.png" class="imgUserOnline" alt="Ban userOnline" />
    <ul id="allUsers" class="list-group">
      <li class="list-group-item ">User 1</li>
      </ul>
    
  </div>
</div>